APP_STORE_BUNDLE_ID="mock"
APP_STORE_ENVIRONMENT="mock"
APP_STORE_ISSUER_ID="mock"
APP_STORE_KEY_ID="mock"
APP_STORE_PRIVATE_KEY="mock"
FIREBASE_API_KEY="mock"
GOOGLE_PLAY_PACKAGE_NAME="mock"
GOOGLE_PLAY_PUBSUB_TOPIC_NAME="mock"
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON="mock"
