APP_STORE_BUNDLE_ID="dummy"
APP_STORE_ENVIRONMENT="dummy"
APP_STORE_ISSUER_ID="dummy"
APP_STORE_KEY_ID="dummy"
APP_STORE_PRIVATE_KEY="dummy"
FIREBASE_API_KEY="dummy"
GOOGLE_PLAY_PACKAGE_NAME="dummy"
GOOGLE_PLAY_PUBSUB_TOPIC_NAME="dummy"
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON="dummy"